@use '@styles/variables.module' as v

.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 4px
    width: 100%

.textinput,
.passwordinput
    padding: 16px
    color: v.$text-color
    border: 1px solid v.$text-color
    border-radius: v.$border-radius
    outline: none
    width: 70%
    font-size: 16px
    &:focus
        border: 2px solid v.$primary-color

.error
    color: rgba(red, 0.8)
    font-size: 13px
    width: 65%
