@use '@styles/variables.module' as v

.layout
    display: grid
    grid-template-rows: 1
    grid-template-columns: repeat(8, 1fr)

.content
    grid-column: 3/7
    border-left: 1px solid v.$text-color
    border-right: 1px solid v.$text-color
