@use '@styles/variables.module' as v

.layout
    display: grid
    grid-template-rows: 1
    grid-template-columns: repeat(12, 1fr)

.content
    grid-column: 2/9
    border-left: 1px solid rgba(#dfdfdf, 0.8)
