@use '../../styles/variables.module' as v

.main
  min-height: 100vh
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  gap: 16px

.link
  padding: 16px
  text-decoration: underline
  background-color: v.$primary-color
  border: 1px solid v.$primary-color
