@use '../../../../styles/variables.module' as v

.sidebar
    color: v.$complimentary-color
    grid-column: 1
    background-color: v.$background-color
    padding: 48px
    align-self: center
    justify-self: center
    height: 100%
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: center
    gap: 16px
