@use '@styles/variables.module' as v

.collapsible
    position: fixed
    bottom: 0
    right: 96px
    width: 400px

    button
        border-radius: 20px 20px 0px 0px
        width: 100%
        padding: 12px 32px
        background-color: black
        font-size: 18px
        color: white
